<script>

    //Insert Data
    $("#btnsave").click(function () {
        output = "";
        let sid = $('#stuid').val();
        let nm = $('#nameid').val();
        let em = $('#emailid').val();
        let ct = $('#cityid').val();
        let csr = $('input[name=csrfmiddlewaretoken]').val()
        if (nm == "") {
            $('#msg').text('Name Can Not Be Blank');
            $('#msg').show();
            $("#msg").fadeOut(3000)
        } else if (em == "") {
            $('#msg').text('Email Can Not Be Blank');
            $('#msg').show();
            $("#msg").fadeOut(3000)
        } else if (ct == "") {
            $('#msg').text('City Can Not Be Blank');
            $('#msg').show();
            $("#msg").fadeOut(3000)
        } else {
            console.log('nm:', nm)
            mydata = {stuid:sid, name: nm, email: em, city: ct, csrfmiddlewaretoken: csr }
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data: mydata,
                success: function (data) {
                    x = data.student_data
                    if (data.status == 'Save'){
                        $('#msg').text('Form Submitted Successfully');
                        $('#msg').show();
                        $("#msg").fadeOut(3000)
                        for (i=0; i<x.length; i++){
                            output += '<tr><td>' + x[i].id + '</td><td>' + x[i].name + '</td><td>' + x[i].email + '</td><td>' + x[i].city + '</td><td> <input type="button" class="btn btn-warning btn-sm btn-edit" value="Edit" data-sid=' + x[i].id + '> <input type="button" class="btn btn-danger btn-sm btn-del" value="Delete" data-sid=' + x[i].id + '>'
                        }
                        $("#tbody").html(output);
                        $('#stuid').val('');
                        $("form")[0].reset();
                    } 
                    if (data.status == 'Not Save'){
                        $('#msg').text('Form Submission Unsuccessful');
                        $('#msg').show();
                        $("#msg").fadeOut(3000)
                        $('#stuid').val('');
                    }
                }
            })
        }
    });

    //Delete Data
    $('tbody').on('click', '.btn-del', function(){
        let id = $(this).attr('data-sid');
        let csr = $('input[name=csrfmiddlewaretoken]').val()
        mydata = {sid:id, csrfmiddlewaretoken: csr}
        mythis = this
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                if (data.status == 1){
                    $('#msg').text('Data Deleted');
                    $('#msg').show();
                    $("#msg").fadeOut(3000)
                    $(mythis).closest('tr').fadeOut();
                }
                if (data.status == 0){
                    $('#msg').text('Data Not Deleted');
                    $('#msg').show();
                    $("#msg").fadeOut(3000)
                }
            }
        })
    })


    //Edit Data
    $('tbody').on('click', '.btn-edit', function(){
        let id = $(this).attr('data-sid');
        let csr = $('input[name=csrfmiddlewaretoken]').val()
        mydata = {sid:id, csrfmiddlewaretoken: csr}
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: mydata,
            success: function (data) {
                $('#stuid').val(data.id);
                $('#nameid').val(data.name);
                $('#emailid').val(data.email);
                $('#cityid').val(data.city);
            }
        })
    })

</script>